@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  scrollbar-width: none;
}

.no-scroll {
  overflow-y: hidden;
  position: fixed;
  width: 100%;
}
